<header>
  <h1>{{ site.title }}</h1>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/intro.html' | relative_url }}">Introduction</a></li>
      <li><a href="{{ '/prerequisites.html' | relative_url }}">Prerequisites</a></li>
      <li><a href="{{ '/setup.html' | relative_url }}">Setup</a></li>
      <li><a href="{{ '/configuration.html' | relative_url }}">Configuration</a></li>
      <li><a href="{{ '/usage.html' | relative_url }}">Usage</a></li>
      <li><a href="{{ '/troubleshooting.html' | relative_url }}">Troubleshooting</a></li>
      <li><a href="{{ '/faq.html' | relative_url }}">FAQ</a></li>
      <li><a href="{{ '/mechanics.html' | relative_url }}">Mechanics</a></li>
      <li><a href="{{ '/contact.html' | relative_url }}">Contact Us</a></li>
    </ul>
  </nav>
</header>
